body{
    background-color: #C2FFF9;
    }
h1{
    color: #516BEB;
}
h3{
    color: #516BEB;
}
hr{
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;

}